
<style type="text/css">
    body{
        background-image: url("https://wallpaperxyz.com/wp-content/uploads/Website-Background-Images-HD-Free-Download-Wallpaperxyz.com-11.jpg");
        
    }
</style>
<body class="body">
	<h1>Sessions#destroy</h1>
<p>Find me in app/views/sessions/destroy.html.erb</p>
