
<style type="text/css">
    body{
        background-image: url("https://wallpaperxyz.com/wp-content/uploads/Website-Background-Images-HD-Free-Download-Wallpaperxyz.com-11.jpg");
        
    }
    h2
    {
    	color: #800080;
    	font-style: oblique;
    }
</style>
<body class="body">
<h1>Contact us</h1>
<img src="/img/home.jpg" width="400" height="400">
<b><h2 class="h2">hello everyone..........
	<br><br>its neha mehandi designer
	<br><br>contact No:- 1234567890
	<br><br>email_id:- nehakokane1999@gmail.com
	<br><br>for other details plz contact me.</h3></b>

<button><%= link_to "Back ", controller: "sessions", action: 'welcome' %></button>